.page {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: block;
  cursor: inherit;
  box-sizing: border-box;
  background: #eee;
  background-size: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.page:hover {
}

.page:active {
}

.page:focus {
}

.text {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: block;
  cursor: inherit;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px -4px #000000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: sans-serif;
  color: #3C3C3C;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: 32px;
  font-weight: inherit;
  font-style: inherit;
  text-align: center;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: pre-wrap
}

.text:hover {
}

.text:active {
}

.text:focus {
}

.header {
}

.header:hover {
}

.header:active {
}

.header:focus {
}

.body {
}

.body:hover {
}

.body:active {
}

.body:focus {
}

.title {
  width: auto;
  height: 50px;
  overflow: visible;
  opacity: 1;
  display: block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 47px;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: 36px;
  font-weight: 500;
  font-style: inherit;
  text-align: center;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.title:hover {
}

.title:active {
}

.title:focus {
}

.menu {
  width: auto;
  height: 60px;
  overflow: visible;
  opacity: 1;
  display: block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 12px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 28px;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: center;
  text-decoration: inherit;
  text-transform: uppercase;
  text-overflow: inherit;
  white-space: inherit
}

.menu:hover {
}

.menu:active {
}

.menu:focus {
}

.home {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: inline-block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: relative;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: center;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.home:hover {
  background: #AAAAAA;
  background-size: auto
}

.home:active {
}

.home:focus {
}

.settings {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: inline-block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.settings:hover {
  background: #AAAAAA;
  background-size: auto;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1)
}

.settings:active {
}

.settings:focus {
}

.settings.normal {
}

.contests {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: inline-block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: auto;
  right: 0px;
  bottom: 0px;
  position: static;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.contests:hover {
  background: #AAAAAA;
  background-size: auto
}

.contests:active {
}

.contests:focus {
}

.profile {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: inline-block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.profile:hover {
  background: #AAAAAA;
  background-size: auto;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1)
}

.profile:active {
}

.profile:focus {
}

.archive {
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  display: inline-block;
  cursor: inherit;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-filter: blur(0px) grayscale(0) sepia(0) invert(0) saturate(1) brightness(1) contrast(1) opacity(1) hue-rotate(0deg);
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  color: #000;
  font-size: inherit;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  white-space: inherit
}

.archive:hover {
  background: #AAAAAA;
  background-size: auto
}

.archive:active {
}

.archive:focus {
} 
body { margin: 0; }