body {
  font-family: sans-serif;
  background: #eee;
  padding: 40px;
}

.header .title {
  height: 50px;
  display: block;
  text-align: center;
  line-height: 36px;
  font-size: 47px;
  font-weight: 500;
}

.header .menu {
  height: 60px;
  overflow: visible;
  display: block;
  padding-top: 12px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.header .menu .home, .archive, .contests, .profile, .settings {
  display: inline-block;
  padding: 8px 20px;
  -webkit-transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
  transition: 0.2s 0s all cubic-bezier(0.25,0.1,0.25,1);
}

.header .menu .home:hover, .archive:hover, .contests:hover, .profile:hover, .settings:hover {
  background: #ccc;
  background-size: auto
}