body {
  font-family: sans-serif;
  font-size: 16px;
  background: #eaeaea;
  margin: 30px;
}

input, select, textarea, button, table {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 4px;
  border: none;
  border-bottom: solid 2px #bbb;
  transition: border 0.1s;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border-bottom: solid 2px #24B60B;
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: inherit !important;
}

.header .title {
  display: block;
  text-align: center;
  line-height: 36px;
  font-size: 47px;
  font-weight: 500;
}

.header .menu {
  height: 60px;
  overflow: visible;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.menu .home, .menu .archive, .menu .contests, .menu .profile, .menu .settings, .menu .login, .menu .signup {
  display: inline-block;
}

.reason {
  font-size: 23px;
  line-height: 40px;
  border-left: solid 4px red;
  padding-left: 10px;
  border-bottom: solid 2px #ddd;
  border-radius: 3px;
}

.button {
  padding: 8px 20px;
  /*-webkit-transition: color 0.2s, border-color 0.2s cubic-bezier(0.25,0.1,0.25,1);*/
  transition: color 0.2s, border-color 0.2s cubic-bezier(0.25,0.1,0.25,1);
  border: hidden;
  border-color: #eaeaea;
}

.button:hover, .button:focus {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #666;
  color: #A52A2A;
}

.chosen {
  color: #24B60B;
}


.footer {
  position: absolute;
  bottom: 0px;
}

#signup .field {
  padding-bottom: 6px;
  margin: 4px;
  width: 510px;
}

#signup .field .name {
  width: 70px;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
}
#signup .field .input {
  width: 250px;
}

#signup .field .requirements {
  border-left-color: red;
  background-color: #ECACAC;
  border-left-width: 4px;
  border-left-style: solid;
  margin-top: 10px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}