<html>
<title>{{.TITLE}}</title>
<body>
    {{.}}
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" colspan="2">
                <p style="font-size:26px">
                    {{.HeaderTitle}}
                </p>
            </td>
        </tr>
        <tr>
            {{if .isUserLoggined}}
                <td align="right">
                    <form action="/logout/">
                        You are logged in as <strong> {{.User.Name}} </strong>&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Logout">
                    </form>
                </td>
            {{else}}
                <td align="left">
                    <form action="/register/" allign="left">
                        <input type="submit" value="Register">
                    </form>
                </td>
                <td align="right">
                    <form action="/login/" method="post">
                        Login:
                        <input type="text" name="login" value size="8">  &nbsp;
                        Password:
                        <input type="password" name="password" value size="8">  &nbsp;
                        <input type="submit" value="Ok">
                    </form>
                </td>
            {{end}}
        </tr>
    {{if .BadReason}}
        <tr>
            <td width="100%" align="center">
                <font color="red">
                    {{.BadReason}}
                </fond>
            </td>
        </tr>
    {{end}}
