{{ define "login.html" }}
{{ template "header" . }}

<div id="login" align="center">
  <div class="field">
    <span class="name">Login:</span>
    <span><input id="form_login" class="input" type="text" name="login" autofocus /></span>
  </div>
  <div class="field">
    <span class="name">Password:</span>
    <span><input id="form_pwd" class="input" type="password" name="pwd"/></span>
  </div>
  <div class="field">
    <span>Remember Me</span>
    <span><input id="form_remember" type="checkbox" name="remember"/></span>
  </div>
  <div class="field">
    <input type="button" value="Login" onclick="login();" class="button">
  </div>
</div>

<div id="result" align="center">
</div>

{{ template "footer" . }}
{{ end }}
