{{ define "signup.html" }}
{{ template "header" . }}

<div id="signup" align="center">
  <div class="field">
    <span class="name">Login:</span>
    <span><input id="reg_login" class="input" type="text" name="login" oninput="checkSignUpForm();" autofocus /></span>
    <div id="reg_login_req" class="requirements">Must be between 3 and 64 characters and should not contain spaces</div>
  </div>
  <div class="field">
    <span class="name">Email:</span>
    <span><input id="reg_email" class="input" type="text" name="email" oninput="checkSignUpForm();"/></span>
    <div id="reg_email_req" class="requirements">This is not an email :c</div>
  </div>
  <div class="field">
    <span class="name">Password:</span>
    <span><input id="reg_pwd" class="input" type="password" name="pwd" oninput="checkSignUpForm();"/></span>
    <div id="reg_pwd_req" class="requirements">Password must be between 6 and 64 characters</div>
  </div>
  <div class="field">
    <input type="button" value="Sign Up" onclick="signup();" class="register form button">
  </div>
</div>

<div id="result" align="center">
</div>

<script type="text/javascript">$(document).ready(function() {checkSignUpForm();});</script>

{{ template "footer" . }}
{{ end}}
